// Theme colors
$color-primary: #901c1c;
$color-secondary: #d3573c;
$color-tertiary: #db8876;

// Background colors
$bg-light-primary: #fff;
$bg-light-secondary: #fafafa;

// Text colors
$text-color-dark: #fff;
$text-color-light-primary: #312e2e;
$text-color-light-secondary: #757575;
$text-color-light-tertiary: #525252;
