#app {
  padding: 0 100px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;

  label {
    color: $text-color-light-primary;
    font-size: 36px;
  }

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
  }

  input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
  }
}

.media-sorters {
  display: flex;
  position: relative;

  > span {
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
  }
}

.photograph-header {
  background-color: $bg-light-secondary;
  padding: 50px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .photographer-info {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;

    h1 {
      color: $color-secondary;
      font-size: 64px;
      font-weight: 200;
      margin: 0;
    }

    h3 {
      font-size: 24px;
      color: $color-primary;
    }

    span {
      color: $text-color-light-tertiary;
      font-size: 18px;
    }
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

.media-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;

  .photograph-media {
    width: 350px;
    height: 350px;

    & > div {
      display: flex;
      justify-content: space-between;
      padding: 8px;

      & > span {
        font-size: 20px;
        font-weight: 500;
      }

      div i {
        margin-left: 4px;
      }

      * {
        color: $color-primary;
      }
    }

    img,
    video {
      width: 100%;
      height: calc(100% - 50px);
      object-fit: cover;
    }
  }
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: $text-color-dark;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: $color-primary;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .media-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  .photograph-header {
    flex-direction: column-reverse;
    height: auto;

    * {
      margin-top: 25px;
    }
  }
}
